*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: inline-block;
    background: #40739e;
    color: white;
    padding: 20px;
    margin: 20px 0 0 20px;
}

p{
    display: inline-block;
    background: #40739e;
    color: white;
    padding: 10px;
    margin: 20px 0 0 20px;
}